.ant-checkbox-group-item {
  display: block;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}

.outer-border {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.checkbox-header {
   width: 100%;
   margin-top: 7px;
   margin-bottom: 3px;
}

.checkbox-group {
  width: 100%;
}